stages:
  - sonarqube

sonarqube_check:
  stage: sonarqube
  tags:
    - rocky
  script:
    - sonar-scanner \
        -Dsonar.projectKey=project1 \
        -Dsonar.sources=. \
        -Dsonar.host.url=http://192.168.245.128:9000 \
        -Dsonar.login=$SONAR_TOKEN \
        -Dsonar.qualitygate.wait=true 
  allow_failure: false