version: '3.8'
services:
  sonarqube:
    image: sonarqube:lts-community
    container_name: sonar-app
    ports:
      - "9000:9000"
    environment:
      - SONAR_JDBC_URL=jdbc:postgresql://db:5432/sonar
      - SONAR_JDBC_USERNAME=sonar
      - SONAR_JDBC_PASSWORD=sonar
    restart: always
    depends_on:
      - db

  db:
    image: postgres:12
    container_name: sonar-db
    environment:
      - POSTGRES_USER=sonar
      - POSTGRES_PASSWORD=sonar
      - POSTGRES_DB=sonar
    restart: always
    volumes:
      - postgresql_data:/var/lib/postgresql/data

volumes:
  postgresql_data:
