apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontendapiVersion: kyverno.io/v1
kind: ClusterPolicy
metadata:
  name: check-signature
spec:
  validationFailureAction: Enforce
  background: false
  rules:
    - name: verify-signature
      match:
        any:
        - resources:
            namespaces:
            - test-security
            kinds:
            - Pod
      verifyImages:
      - imageReferences:
        - "*"
        attestors:
        - entries:
          - keys:
              publicKeys: |-
                -----BEGIN PUBLIC KEY-----
                MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEDyAeMP1eS5S6DGrZqsF41TbR6l1B
                oJyC+SWI+uXCtEO52oHV+maKT1NoiBHUf/MH8+6YBKLgGWDa3uq2lTPbdw==
                -----END PUBLIC KEY-----
  namespace: {{ .Values.namespace }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      # Secret for pulling from your private docker hub: nabilaebrahim
      imagePullSecrets:
      - name: regcred
      containers:
      - name: frontend
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        ports:
        - containerPort: 80
        envFrom:
        - configMapRef:
            name: frontend-config
        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "200m"
            memory: "256Mi"