apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: frontend-ingress
  namespace: {{ .Values.namespace }}
  annotations:
    kubernetes.io/ingress.class: nginx
    
    nginx.ingress.kubernetes.io/rewrite-target: /$1
spec:
  tls:
  - hosts:
    - {{ .Values.host }}
    secretName: tls-secret
  rules:
  - host: {{ .Values.host }}
    http:
      paths:
     
      - path: /(check-user)
        pathType: ImplementationSpecific
        backend:
          service:
           
            name: backend-service-proxy
            port:
              number: 5000
     
      - path: /(.*)
        pathType: ImplementationSpecific
        backend:
          service:
            name: frontend-service
            port:
              number: 80