apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: frontend-to-backend-policy
  namespace: {{ .Values.namespace }}
spec:
  podSelector:
    matchLabels:
      app: frontend
  policyTypes:
  - Egress
  egress:
 
  - ports:
    - protocol: UDP
      port: 53
    - protocol: TCP
      port: 53
  
  - to:
    - namespaceSelector:
        matchLabels:
          name: backend-ns