apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: {{ .Values.namespace }}
spec:
  # Internal Cluster IP as requested
  type: ClusterIP
  selector:
    app: frontend
  ports:
  - port: 80
    targetPort: 80