apiVersion: v1
kind: ConfigMap
metadata:
  name: redis-config
  namespace: {{ .Values.namespace }}
data:
  # Basic Redis configuration
  redis-port: {{ .Values.port | quote }}
  maxmemory: "256mb"
  maxmemory-policy: "allkeys-lru"