apiVersion: v1
kind: ResourceQuota
metadata:
  name: redis-quota
  namespace: {{ .Values.namespace }}
spec:
  hard:
    pods: "5"
    requests.cpu: "200m"
    requests.memory: "256Mi"
    limits.cpu: "500m"
    limits.memory: "512Mi"