apiVersion: v1
kind: Service
metadata:
  name: db-headless
  namespace: {{ .Values.namespace }}
spec:
  # ClusterIP None defines this as a Headless service
  clusterIP: None
  selector:
    app: postgres
  ports:
  - port: 5432
    targetPort: 5432